.container_pasos {
    max-width: 65.7rem!important;
    padding-top: 12rem;
}

.container_paso {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    width: 10rem;
}

.container_sectionReclamarColombia {
    height: 47rem;
}

.container_circular {
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.font_size_angle_breakets{
    font-size: 1.2rem;
}

.font_size_recuerda {
    font-size: 0.9rem;
}


