@font-face {
    font-family: "MuseoSans";
    src: url("./Fonts/MuseoSans.otf") format("opentype");
}

@font-face {
    font-family: "MuseoSans-700";
    src: url("./Fonts/MuseoSans-700.otf") format("opentype");
}


@font-face {
    font-family: "MuseoSans-900";
    src: url("./Fonts/MuseoSans-900.otf") format("opentype");
}



/*RESET STYLES*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/*Fonts*/

.museoSans {
    font-family: MuseoSans;
}

.museoSans700 {
    font-family: MuseoSans-700;
}

.museoSans900 {
    font-family: MuseoSans-700;
}

.font_oblique {
    font-style: oblique;
}


/*Sizing headings*/

.h1 {
   font-size: 3.7rem!important; 
}

.h2 {
    font-size: 2.4rem!important; 
}

.h3 {
    font-size: 1.8rem!important; 
}


/*Colors*/

.yellow {
    background-color: #FFDD09;
}

.black {
    color: #000000;
}

.white {
    color: #FFFFFF;
}

.soft_grey {
    background-color: #F5F5F5;

}

/*Backgrounds*/

.bg_yellow {
    background-color: #FFDD09;
}

.bg_soft_grey {
    background-color: #F5F5F5;

}

.white {
    background-color: #FFFFFF;
}

/*Containers*/

.container_movile {
    padding-left: 0;
    padding-right: 0;
}

/*Movil responsive*/

@media (max-width: 991px) {
    .container_movile {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }    
    .h1 {
        font-size: calc(12.3vw)!important;
    }
    
    .h2 {
        font-size: calc(8vw)!important;
    }
    
    .h3, h3 {
        font-size: calc(6vw)!important;
    }
}

@media (min-width: 320px) and (max-width: 575px) {

}
