.modal_sec_cerrar {
    height: 3rem;
}

.container_pais {
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor_centro {
    max-width: 85%;
    margin-right: auto;
    margin-left: auto;
}

.container_paises {
    overflow: scroll;
    height: inherit;
}

.btn_cerrar {
    height: 100%;
    width: 3rem;
    padding: 0;
    font-size: 1.5rem;
    border: 0;
}

.container_paises {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.container_paises::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}