.font_size_enviaron {
    font-size: 0.9rem;
}

.font_size_explicamos {
    font-size: 1.2rem;
}

.container_paso_giro_directo {
    padding-top: 4rem;
    padding-left: 5rem;
    padding-right: 5rem;
    height: 30rem;
    width: 34rem;
}   