name: Deploy to Heroku - Dev
on:
  push:
    branches: [ develop ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
    
      - name: Update ubuntu
        run: sudo apt-get update

      - name: Upgrade ubuntu
        run: sudo apt-get upgrade

      - name: Install heroku-cli
        run:  sudo wget -qO- https://toolbelt.heroku.com/install-ubuntu.sh | sh

      - name: Set heroku variable and clone repository
        run: export HEROKU_API_KEY=74e0d1e1-5d8a-44fc-9776-2cfaee9e0b34 heroku git:clone -a landing-wu-develop

      - name: Move to heroku local repo
        run: cd landing-wu-develop

      - name: Install Heroku plugin
        run: heroku plugins:install

      - name: Purge cache
        run: heroku repo:purge_cache -a landing-wu-develop

      - name: Commit purged
        run: git commit --allow-empty -m "Purge cache"

      - name: Push purged
        run: git push heroku main
      
      - uses: akhileshns/heroku-deploy@v3.12.12 # This is the action
        with:
          heroku_api_key: 74e0d1e1-5d8a-44fc-9776-2cfaee9e0b34
          heroku_app_name: "landing-wu-develop"
          heroku_email: "dilan.bergano@correounivalle.edu.co"
          branch: "develop"
